body, html {
	height: 100%;
	margin: 0;
	padding: 1%;
	/*border: 1px solid white;*/
}
	
.bg { 
	/* The image used */
	background-color : #2E4E68;
	/* Full height */
	height: 100%; 
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}